DATABASE_URL="file:./dev.db"
JWT_SECRET="cambia-esto-por-un-secreto-seguro-de-al-menos-32-caracteres"
PORT=4000
ORIGEN_FRONTEND="http://localhost:3000"
URL_PUBLICA="http://localhost:4000"
ADMIN_USUARIO="admin"
ADMIN_PASSWORD="cambia-esta-password"
